:root {
  --black: #000;
  --bob-pink: #ffc2c2;
  --bright-green: #00c000;
  --bright-red: #f00;
  --bronze: #8f7143;
  --dark-blue: #00008b;
  --dark-bob-pink: #ffa0a0;
  --dark-gray: #202020;
  --gold: #d4af37;
  --gray: #404040;
  --green: #006000;
  --hover-green: #009000;
  --hover-light-gray: #d0d0d0;
  --hover-red: #c00000;
  --light-bob-pink: #ffe8e8;
  --light-gray: #a0a0a0;
  --medium-gray: #707070;
  --pokemon-blue: #2a75bb;
  --pokemon-yellow: #ffcb05;
  --red: #600000;
  --silver: #c0c0c0;
  --white: #fff;
  --yeet-red: #dc143c;
}
